@import '../variables';
@import '../mixins';

.codeRedemption {
    @include layover;
    flex-direction: column;
    gap: 15px;
    padding: 0 3%;

    .modal {
        max-width: 370px;
        width: 100%;
        margin: 0 3%;
        padding: 25px;
        background-color: $bg-color-light;

        .storeWrapper {
            @include flex-c-c;
            flex-direction: column;
            
            .storeLogo {
                max-width: 60px;
                width: 100%;
                height: auto;
                user-select: none;
                pointer-events: none;

            }
        
            .storeIcon {
                max-width: 100px;
                width: 100%;
                @include flex-c-c;
                background-color: #ffffff41;
                border-radius: 8px;
                margin: 0 auto;
        
                img {
                    max-width: 35px;
                    width: 100%;
                    padding: 20px 0;
                    height: auto;
                    user-select: none;
                    pointer-events: none;
                    
                }
            }

            p {
                margin-top: 10px;
                font-weight: 600;
                text-align: center;
                font-size: 18.5px;
            }

            .subtitle {
                color: rgba(255, 255, 255, 0.31);
                font-weight: 450;
                font-size: 15px;
            }
        }

        .referralCode {
            margin-top: 20px;
            width: 100%;
            padding: 15px;
            border: 2px dashed #5F6888;
            cursor: pointer;
            font-weight: 500;
            font-size: 20px;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; 
        }

        button {
            @include cta;
            width: 100%;
            margin-top: 15px;
        }
    }

    .closeModal {
        display: flex;
        align-items: center;
        padding: 15px;
        cursor: pointer;

        p {
            margin-left: 10px;
        }
    }
}