@import '../variables';
@import '../mixins';

.profileCodesContainer {
    max-width: 900px;
    width: 100%;
    height: 80svh;
    background-color: $bg-color-medium;
    margin: 0px 3%;
    position: relative;
    overflow: hidden;

    .overflowWrapper {
        width: 100%;
        height: 100%;
        padding: 30px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 7px;
          }
          
          /* Track */
          &::-webkit-scrollbar-track {
            background: #ffffff0d;
          }
          
          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: #4b526d;
          }
          
    }

    h1 {
        text-align: center;
    }

    .externalVisitorTitle {
        p {
            text-align: center;
            color: rgba(255, 255, 255, 0.432);
            font-size: 17px;
            max-width: 550px;
            margin: 0 auto;
            margin-top: 10px;
        }
    }


    .shareButton {
        position: absolute; /* Change absolute to fixed */
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        @include cta;
    }
}

@media (max-width: 990px) {
    .profileCodesContainer {
        .overflowWrapper {
            padding: 3%;
        }

        h1 {
            font-size: 27px;
        }


    }
  }

  @media (max-width: 480px) {
    .profileCodesContainer {
        .shareButton {
            position: absolute;
            bottom: 2.5%;
            left: 3%;
            right: 3%;
            transform: none;
        }

        .externalVisitorTitle {
            p {
                font-size: 16px;
                margin-top: 5px;
            }
        }
    }
  }