@import '../variables';
@import '../mixins';

.socialIcon {
    width: 70px;
    height: 70px;
    @include flex-c-c;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.111);
    justify-content: center; /* Center horizontally within the column */
    align-items: center; /* Center vertically within the column */
    cursor: pointer;

    img {
        width: 30px;
        height: auto;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.159);
    }
}