* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #151824;
  color: white;
}

button, a {
  cursor: pointer;
  color: white;
  border: none;
}

input {
  border-radius: 0px;
}
